a.hover{background-color:transparent}
div.rounded-corners {
    border-color: black;
    border-width: 1px;
    border-style:solid;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
body {background-color:#333;}
.main{background-color:#fff;}
.g160{height:200px;margin-left:9px}
.clear{height:10px;}

.css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
