a.hover{background-color:transparent}
div.rounded-corners {
    border-color: black;
    border-width: 1px;
    border-style:outset;
    border-spacing:2px;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;

}