<div class="g320" style="">
  <div id="right_col">
    <div style="height:450px">
      <div id="thumbnails">

      </div>
    </div>
    <div class="clear"></div>
    <div id="logs_report">
      <%= render :partial=>'logs/accordion_report', :locals => {:amount => 5} %>
    </div>
  </div>
</div>